<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864677324375-i0v6egfcl8lgoek52657f4e6faevperp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864677324375-i0v6egfcl8lgoek52657f4e6faevperp</string>
	<key>API_KEY</key>
	<string>google-api-key</string>
	<key>GCM_SENDER_ID</key>
	<string>864677324375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnson.dsaved.fasel</string>
	<key>PROJECT_ID</key>
	<string>dsavedeevent</string>
	<key>STORAGE_BUCKET</key>
	<string>dsavedeevent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:864677324375:ios:8b5bbbadfc099e8cda6512</string>
	<key>DATABASE_URL</key>
	<string>https://dsavedeevent.firebaseio.com</string>
</dict>
</plist>
